
html {
	margin: 0px 0px;
	padding: 0px 0px;
	height: 100%;
	font-family: Monaco;
}

body {
	display: grid;
	grid-template-rows: 70px 400px 1fr;
	margin: 0px;
	padding: 0px 0px;
	height: 100%;	
}

h1 {
	margin: auto;	
	color: #e8d671;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

button {
	font-family: Monaco;
	border-radius: 5px;
}

button:focus {
	outline: 0;
}

button:hover {
	box-shadow: 0 0 8px #cc2525;
}

input {
	font-family: Monaco;
}

#container {
	display: grid;
	width: 400px;
	height: 400px;	
	margin: auto;	
	border: 10px solid #cc2525;
	border-radius: 7px;
}

#botBlock {
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 3fr;
	margin-right: auto;
	margin-left: auto;
}

#chooseColors, #chooseSides {
	margin-left: auto;
	margin-right: auto;
	align-self: end;
	font-size: 12px;	
}

#errorDiv {
	align-self: start;
	font-size: 14px;
	color: #ea0631;
}

.cell {
	background-color: rbg(100%, 100%, 100%);
}

.chosen {
	background-color: #d80404;
	color: white;
}
